body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.desktop {
  display: block;
  max-width: 100%;
  text-align: center;
}

.desktop img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile img {
    width: 100%;
    height: auto;
    display: block;
  }
}
